ul.breadcrumb {
    position: fixed;
    padding: 10px 16px;
    margin-top: 10PX;
    list-style: none;
    background-color:gray;
    width: 25vw;
    right: 100px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: crimson;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: crimson;
    text-decoration: underline;
  }
